@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 3px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0891b2;
    border-radius: 10px;
}